@import '../../styles.scss';

input-range {
    width: 80%;
    label {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        color: #000;
    }
    input[type="range"] {
        position: relative;
        margin-top: 2rem;
        width: 100%;
    }
    input[type="range"]:after,
    input[type="range"]:before {
        position: absolute;
        top: 1.2em;
        color: #aaa;
    }
    input[type="range"]:before {
        left:0em;
        content: attr(min);
    }
    input[type="range"]:after {
        right: 0em;
        content: attr(max);
    }
    .outputValue {
        padding-left: 1rem;
        color: rgb(233, 105, 105);
    }
}