@import '../../styles.scss';


form-upload-file {
    width: 90%;
    height: 50%;
    @media screen and (min-width : 600px) {
        width: 600px;
        height: 50%;
    }
    .form-upload-file {
        background-color: $primary-color;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .input-file-container {
            position: relative;
            padding: 2rem 0;
            border: solid 3px $secondary-color-dark;
            border-radius: 0.5rem;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
            width: 80%;
            color: #fff;
            display: flex;
            justify-content: center;

            input[type="file"] {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }

        .file-return{
            color: #fff;
            font-size: clamp(1.2rem, 3.5vw, 2rem);
            text-align: center;
        }

        button[type="submit"] {
            border-radius: .5rem;
            background-color: $secondary-color;
            padding: .5rem 2rem;
        }

        .input-valid {
            border: dashed 5px $valid-color;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        }
        
    }
    
}
