@import '../../styles.scss';

.header-bar {
    background-color: $primary-color;
    color: #fff;
    height: clamp(4rem, 7vw, 7rem);
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}